/* Background pattern from Toptal Subtle Patterns */
body {
    background-color: darkgray;
}

.wrapper {
    font-size: 20px;
    border: 2px solid black;
    border-radius: 1%;
    margin: auto;
    margin-top: 5vh;
    width: 50vw;
    font-family: 'Barlow', sans-serif;
    background-image: url(tlo.png);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.menu {
    margin: auto;
    text-align: center;
    height: 10vh;
}

#opt1 {
    border-right: 3px solid black;
}

.option {
    width: 25vw;
    height: 10vh;
    float: left;
    font-size: 1.2em;
    padding: 0;
    border: none;
    border-bottom: 2px solid black;
    font-family: 'Barlow', sans-serif;
    background-color: cadetblue;
    border-radius: 3%;
    cursor: pointer;
}

.option:focus {
    outline: none;
    background-color: teal;
}

.counter {
    width: 40vw;
    height: 60vmin;
    margin: auto;
    padding: 5vmin;
}

.result {
    margin: auto;
    border: 2px solid black;
    min-height: 15vmin;
    font-size: 7vmin;
    padding: 0 1vw;
    font-family: 'Chakra Petch', sans-serif;
    background-color: #99cc00;
    word-wrap: break-word;
}

.buttons {
    padding-top: 5vmin;
}

.btns {
    margin: auto;
    float: left;
    width: 25%;
    height: 10vmin;
    font-size: 1.5em;
    border-radius: 10%;
    background-color: darkgray;
    cursor: pointer;
}

.btns:focus {
    outline: none;
}

.newLine {
    clear: both;
}

footer {
    margin: auto;
    text-align: center;
    width: 50vw;
    font-size: 0.8em;
}

h3 {
    font-weight: normal;
    border-top: 2px solid black;
    padding-top: 1vh;
    color: cadetblue;
}

a {
    text-decoration: none;
}

a:link {
    color: cadetblue;
}

a:visited {
    color: cadetblue;
}
